#include <winver.h>
#define IDI_APPLICATION 32512

IDI_APPLICATION ICON "main.ico"
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       (VS_FF_PRIVATEBUILD | VS_FF_PRERELEASE)
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "FileDescription", "Mini Web Server"
			VALUE "FileVersion", "1.0.0.0"
			VALUE "InternalName", "mws"
			VALUE "LegalCopyright", "2019, Jose A. Rojo L."
			VALUE "OriginalFilename", "mws.exe"
			VALUE "ProductName", "mws"
			VALUE "ProductVersion", "1.0.0.0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1252
	END
END